{% extends "layout.twig" %}

{% block content %}

<header class="bk-header clearfix">
    <div class="header-bg">
         <div class="wrapper companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            <div class="header-profilephone">
                {% if profile.phone|length > 0 %}  
                   {{widget('clicktocall', 'headerclicktocall', {})|raw}}
                {% endif %}
            </div>
        </div>
    </div>
    <nav>
        <div class="wrapper clearfix">
            <div class="welcome-text">
                {{widget('content', 'headercontent1', {"content":"<h3>Lorem Ipsum - Alam Thor</h3>"})|raw}}  
            </div>  
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        </div>
    </nav>
</header>

<div class="main wrapper clearfix">
    <section>
        {{widget('feature', 'featurehome', {"header": "profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
    </section>
    {{zone('main')|raw}}
</div>  

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h3>Aliquam Sodales</h3>"})|raw}}
                {{widget('profile', 'footercolumn1profileemail', { 'profileType':'email', 'email':'profile'})|raw}}
                {{widget('profile', 'footercolumn1profilephone', { 'profileType':'phone', 'phone':'profile'})|raw}}
            </div>
            <div class="column columns-two-right">
                 {{widget('content', 'footercolumn2content2', {"content":"<h3>Lorem Upsum</h3>"})|raw}}
                {{widget('profile', 'footercolumn2profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}
